<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication</title>
        <meta name="discription" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">
        <title>favourite Page</title>
    </head>
    <body>


        <h3>Your favorite skiis:</h3>
       

        <!-- <button type="submit"><a href="/signout">Sign Out</a></button>
        
        <button type="submit"><a href="/success">Favourite skiis</a></button> -->


        <script src="" async defer></script>
    </body>
</html>