<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication</title>
        <meta name="discription" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">
        <title>Lease Page</title>
    </head>
    <body>

        <h3>UserID: {{ userID }}</h3>
        <h3>Leased skiis for {{ weight }}, {{ height }}, {{ stiffness }}, {{ width }}</h3>
     
        <table>
            <thead>
                <tr>
                    <th>Ski Model</th>
                    <th>Stiffness</th>
                    <th>Width</th>
                    <th>Choose</th>
                </tr>
            </thead>
            <tbody>
                {% for ski in skis %}
                    <tr>
                        <td>{{ ski.name }}</td>
                        <td>{{ ski.stiffness }}</td>
                        <td>{{ ski.width }}</td>
                        <td>
                            <form action="/rent_ski" method="post">
                                {% csrf_token %}
                              
                                <input type="hidden" id="userID" name="userID" value="{{ userID }}">
                                <input type="hidden" name="chosen_ski_id" value="{{ ski.ski_number }}">
                                <button type="submit">Choose</button>                               
                                <br>

                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <button type="submit"><a href="/signout">Sign Out</a></button> 
        

        <script src="" async defer></script>
    </body>
</html>